extends layout

block content
    h1= title
    <h2> User stories:</h2>

    <ul>
    <li>I can get image search results by using offset and name of the image i'd like to see</li>
    <li> I can get the latest search queries with timestapm.</li>
    </ul>

    <h2> Example Creation usage:</h2>

    <p1 style="background-color:LightBlue;">https://#{hostname}/api/imagesearch</p1>
    <br>
    <p1 style="background-color:LightBlue;">https://#{hostname}//api/latest/imagesearch</p1>
